<h1>CASE CONVERSOR</h1>

<form action="#" [formGroup]="caseForm">
  <div class="string-input-container">
    <label for="string-input">ENTER STRING:</label>
    <input type="text" id="string-input" formControlName="stringInput">
    <button (click)="getString()">CONVERT</button>
    <button (click)="clearString()">CLEAR</button>
  </div>
</form>

<div>
  <div class="case">
    <p>SNAKE CASE: <span>{{toSnakeCase}}</span> </p>
  </div>
  <div class="case">
    <p>PATH CASE: <span>{{toPathCase}}</span></p>
  </div>
  <div class="case">
    <p>UPPER CASE: <span>{{toUpperCase}}</span></p>
  </div>
</div>